:root {
  --licor: #220901;
  --salmon: #fa775b;
  --poly-blue: #054a91;
  --red: #941b0c;
  --brown: #621708;
  --green: #57b288;
  --dark-blue: #002347;
}

* {
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: var(--poly-blue);
  background-image: url(../images/Portfolio_Background_Image.png),
    linear-gradient(to right, var(--poly-blue), var(--dark-blue), var(--dark-blue), var(--dark-blue), var(--poly-blue));
  /* The first argument is for the background image, the second is for the color gradient */
  background-repeat: repeat-x, repeat;
  background-size: 60%, contain;
  width: 100%;
  height: 100%;
  position: relative;
}

header {
  background-color: var(--salmon);
  width: 100%;
  margin: 0 0 5vw 0;
  padding: 2% 0 1% 0;
  border-bottom: solid 10px;
  border-color: var(--brown);
}

.background {
  position: absolute;
  top: 0;
  z-index: -1;
  transform: rotate(90deg);
  left: 0;
  /* bottom: 0; */
  justify-content: center;
}

h1 {
  font-size: 4vw;
  display: inline-block;
  padding-left: 2vw;
  padding-right: 5vw;
  border-top-right-radius: 10px 20%;
  border-bottom-right-radius: 10px 20%;
  background-color: var(--dark-blue);
  color: var(--salmon);
}

.menu {
  float: right;
  padding-top: 1.5%;
  padding-right: 2%;
}

/* Creates a gap between the header nav topics. */
header nav a {
  margin: 0 10px 0 0;
}

section {
  color: var(--salmon);
  display: flex;
}

h2 {
  color: var(--salmon);
  font-size: 2.5vw;
  /* padding-left: 15%; */
  padding-right: 15px;
  text-align: right;
  border-right: thick solid var(--salmon);
}

section section {
  font-size: 100%;
}

article,
aside {
  display: inline-block;
  margin: 0 2vw 0 0;
}

.projects {
  flex-wrap: wrap;
  flex: none;
}

.contacts-spacing {
  display: flex;
  margin: 0 3vw 0 0;
  color: var(--green);
  font-size: 1.25vw;
}

#contact-me-nav {
  display: flex;
  /* padding: 1% 20vw 1% 5vw; */
  flex-basis: 50%;
  margin: 0 2% 0 2%;
  justify-content: space-evenly;
  align-items: center;
}

.menuBarText {
  color: var(--dark-blue);
  font-size: 18px;
  font-weight: bold;
}

.menuBarText:hover {
  color: var(--brown);
}

div {
  display: flex;
  /* flex-wrap: wrap; */
  margin: 0 0 5vw 0;
  width: 100%;
}

.title {
  display: flex;
  flex-basis: 25%;
  justify-content: right;
  /* align-items: center; */
}

.details {
  display: flex;
  flex-basis: 50%;
  justify-content: left;
  /* align-items: center; */
}

.container {
  display: flex;
  flex-direction: row;
}

.project-images {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  flex-shrink: 2;
  margin: 0 0 0 2vw;
  justify-content: space-between;
}

.figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 0 1vw 0;
}

.leftFigure {
  margin-right: 2vw;
}

.figure img {
  flex: 1 0 45%;
}

.MainImg {
  width: 50vw;
}

img {
  width: 24vw;
  border: solid var(--salmon) 5px;
}

.greyOverlay {
  background-color: var(--dark-blue);
}

.opacityFilter {
  opacity: 0.75;
}

figure:hover img {
  opacity: 1;
}

.caption {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--salmon);
  color: var(--brown);
}

.mainCaption {
  margin: 4vw 4vw 4vw 0;
  padding: 0 1vw 0 4vw;
  font-size: 1.5vw;

}

.subCaption {
  margin: 3vw 2vw 3vw 0;
  padding: 0 1vw 0 2vw;
  font-size: 1.25vw;
}

.contacts {
  display: flex;
  flex-direction: row;
  padding: 0 0 80px 0;
  /* overwrites the div element css margins */
  margin: 0 0 0 0;
}

#profile {
  width: 12vw;
  border-radius: 10px;
  display: flex;
  margin: 0 2vw 0 2vw;
}

#aboutMeArticle {
  display: flex;
}

.text {
  flex-direction: column;
  font-size: 1.25vw;
  color: var(--salmon);
}

#projectLink {
  display: inline-block;
}

button:hover {
  opacity: 1;
  font-size: 20px;
  padding: 14px 0 13px 0;
}

.portfolioBtn {
  width: 100%;
  padding: 15px 0 15px 0;
  background-color: var(--salmon);
  color: var(--brown);
  font-size: 18px;
  font-weight: 900;
  opacity: 0.75;
}

@media only screen and (max-width: 853px) {
  body {
    background-size: 80%, contain;
  }
  .title {
    font-size: 20px;
  }
  /* .contacts-spacing {
    font-size: 10px;
  } */
  .contacts {
    padding: 0 0 30px 0;
  }
  .menuBarText {
    font-size: 14px;
  }
}

@media only screen and (max-width: 560px) {
  body {
    background-size: 100%, contain;
  }
  .menuBarText {
    display: none;
  }
  /* .title {
    font-size: 1.75vh;
  } */
  /* .contacts-spacing {
    font-size: 1.75vh;
  } */
}

@media only screen and (max-width: 413px) {
  body {
    background-size: 120%, contain;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .title {
    justify-content: center;
  }
  h2 {
    border-right: 0;
    border-bottom: thick solid var(--salmon);
    padding: 0 0 5% 0;
    margin: 0 0 10px 0;
  }
  #aboutMeArticle {
    justify-content: center;
  }
  article,
  aside {
    margin: 0 0 4vw 0;
  }
  .project-images {
    justify-content: center;
    margin: 0 15vw 0 15vw;
    width: 50%;
  }

  #contact-me-nav {
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    width: 70%;
  }
  .contacts-spacing {
    justify-content: center;
    margin: 0 0 0 0;
  }
  #Contact-Me-Path {
    padding: 0 0 2% 0;
  }
  .text {
    width: auto;
  }
}
